################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/IdentityManagement.API/bin/Debug/net8.0
/src/IdentityManagement.API/obj
/src/IdentityManagement.Application/bin/Debug/net8.0
/src/IdentityManagement.Application/obj
/src/IdentityManagement.Domain/bin/Debug/net8.0
/src/IdentityManagement.Domain/obj
/src/IdentityManagement.Infrastructure/bin/Debug/net8.0
/src/IdentityManagement.Infrastructure/obj
/tests/IdentityManagement.Tests/bin/Debug/net8.0
/tests/IdentityManagement.Tests/obj
/src/IdentityManagement.API/IdentityManagement.API.csproj.user
/src/IdentityManagement.API/IdentityManagement.API.http
/src/IdentityManagement.API/Properties
/src/UserManagement.API/bin/Debug/net8.0
/src/UserManagement.API/IdentityManagement.API.http
/src/UserManagement.API/obj
/src/UserManagement.API/Properties
/src/UserManagement.API/UserManagement.API.csproj.user
/src/UserManagement.Application/bin/Debug/net8.0
/src/UserManagement.Application/obj
/src/UserManagement.Domain/bin/Debug/net8.0
/src/UserManagement.Domain/obj
/src/UserManagement.Infrastructure/bin/Debug/net8.0
/src/UserManagement.Infrastructure/obj
/tests/UserManagement.Tests/bin/Debug/net8.0
/tests/UserManagement.Tests/obj
